In [ ]:
import numpy as np
import pandas as pd
import os
from google.colab import drive
drive.mount("/content/gdrive")
os.chdir("/content/gdrive/My Drive/YOLO_dataset")

#Importing Json file into dataframe in order to read the results

df = pd.read_json('/content/gdrive/My Drive/YOLO_dataset/GTSDB.json')
df.head()

Mounted at /content/gdrive

                                                      output
frames     [{'frame_number': '00001.ppm', 'RoIs': 'pg,976...
framework  {'name': 'darknet', 'version': 'Apr 10 2019', ...
video_cfg  {'datetime': '', 'route': '', 'com_pos': '', '...

In [ ]:
# Cleaning the dataframe to our specific required data from entire json file

abc = df['output'].iloc[0]
type(abc)
df_new = pd.DataFrame(abc) 
x = (pd.DataFrame())

df_new

    frame_number  ...                                              signs
0      00001.ppm  ...  [{'coordinates': [976, 334, 49, 54], 'detectio...
1      00002.ppm  ...                                                 []
2      00003.ppm  ...  [{'coordinates': [743, 442, 21, 25], 'detectio...
3      00004.ppm  ...  [{'coordinates': [907, 411, 46, 42], 'detectio...
4      00005.ppm  ...  [{'coordinates': [1165, 162, 128, 117], 'detec...
..           ...  ...                                                ...
893    00894.ppm  ...  [{'coordinates': [1094, 529, 36, 36], 'detecti...
894    00895.ppm  ...  [{'coordinates': [969, 420, 41, 41], 'detectio...
895    00896.ppm  ...  [{'coordinates': [808, 413, 37, 35], 'detectio...
896    00897.ppm  ...                                                 []
897    00898.ppm  ...  [{'coordinates': [820, 510, 27, 30], 'detectio...

[898 rows x 3 columns]

In [ ]:
#The results in Sign column is our useful which is given in list, converting that list into dataframe

for index, row in df_new.iterrows():
  
    temp = row['signs']
    #print(temp)
    if(len(temp) != 0):
         temp[0]['frame_number'] = row['frame_number']
    else:
      temp.append({'frame_number':row['frame_number']})

    temp_df = pd.DataFrame(temp) 
    x = x.append(temp_df)


x

              coordinates  detection_confidence         class frame_number
0      [976, 334, 49, 54]              0.917523            pg    00001.ppm
0                     NaN                   NaN           NaN    00002.ppm
0      [743, 442, 21, 25]              0.948702  RedRoundSign    00003.ppm
0      [907, 411, 46, 42]              0.982209  RedRoundSign    00004.ppm
0   [1165, 162, 128, 117]              0.994699  RedRoundSign    00005.ppm
..                    ...                   ...           ...          ...
1      [196, 485, 39, 38]              0.965113  RedRoundSign          NaN
0      [808, 413, 37, 35]              0.957985  RedRoundSign    00896.ppm
0                     NaN                   NaN           NaN    00897.ppm
0      [820, 510, 27, 30]              0.970766  RedRoundSign    00898.ppm
1      [324, 504, 29, 31]              0.841448  RedRoundSign          NaN

[1087 rows x 4 columns]

In [ ]:
#Rearranging the columns to get the same format as ground truth

x = x[['frame_number', 'coordinates', 'class', 'detection_confidence']]
x.to_csv (r'/content/gdrive/My Drive/YOLO_dataset/x.txt', index = False, sep = ';',header=False)